$font: "Rubik";
$text-color : rgba(79, 86, 101, 1);
$heading-color : rgba(11, 19, 42, 1);
$primary-color : rgba(245, 56, 56, 1);
$gray-color : rgba(221, 224, 228, 1) ;
$mobile-width : 600px ; 
$tablet-width : 1024px ; 